.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background: url(/images/bg-pattern-1.svg);
    background-size: auto;
    background-position: top left;
    background-color: white;
    background-repeat: no-repeat;
    margin: 0;
}

.sign-in-control {
    width: 90%;
}

.sign-in-control> button {
    display: flex;
    justify-content: center;
}