.header-container {
    width: 100%;
    display: flex;
    position: fixed;
    background: var(--bg-surface-2);
    box-shadow: 0px 1px 0px var(--border-primary);
    top: 0;
    justify-content: space-between;
    padding: 10px;
}

.header-logo-menu {
    display: flex;
    justify-content: space-between;
}

.header-container .header-item > button {
    margin-right: 5px;
}

.header-container .date-picker {
    background: var(--bg-surface-2);
}
