.header-container {
    width: 100%;
    display: flex;
    position: fixed;
    background: white;
    box-shadow: 0px 1px 0px #F5F5F5;
    top: 0;
    justify-content: space-between;
    padding: 10px;
}

.header-container .header-item {
    display: flex;
    justify-content: space-between;
}

.header-container .header-item > button {
    margin-right: 5px;
}

.header-container .header-item > .date-picker {
    width: 90%;
}
