.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url('/images/bg-pattern-2.svg');
  background-size: contain;
  background-position: center;
  background: white;
  margin: 0;
}

